<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="https://github.com/steelsleuth/EmThreat" class="btn">View EmThreat</a>
      <a href="#contact" class="btn"> Contact The Team</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <div id="contact"> 
        <form action="https://formspree.io/f/xayljojw" method="POST" style="text-align: center; inline-block;">
          <input type="email" name="_replyto" placeholder="Your Email">
          <input type="submit" value="Send">
        </form>
      </div>
      <footer class="site-footer">
      </footer>
    </main>
  </body>
</html>
